<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .input-text{
            align-items: center;
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 100px;
        }
        .input-button{
            margin-right: auto;
        }
        .margin-button{
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">Home</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div>
    <form class="input-text" th:action="@{/result}" method="get">
    <!--    1번버튼-->
        <div class="col-auto">
            <input type="text" readonly class="data form-control-plaintext" id="temp1" disabled>
            <button type="submit" class="input-button btn btn-primary mb-3" th:onclick="|location.href='result.html'|">1번 온도 측정</button>
        </div>
    </form>
    <form class="margin-button" th:action="@{/result}" method="post">
    <!--    2번 버튼-->
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="temp2" disabled>
            <button type="submit" class="input-button btn btn-primary mb-3" th:onclick="|location.href='result.html'|">2번 온도 측정</button>
        </div>
    </form>
    <form class="margin-button" th:action="@{/result}" method="post">
    <!--    3번 버튼-->
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext" id="temp3"disabled>
            <button type="submit" class="input-button btn btn-primary mb-3" th:onclick="|location.href='result.html'|">3번 온도 측정</button>
        </div>
    </form>
</div>
</body>
</html>